@{
    ViewBag.Title = "Hosgeldiniz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="display-4">Etkinlik Takip Sistemimize Hoşgeldiniz</h2>
            <p class="lead">Etkinlikleri takip edebileceğiniz harika bir platforma adım attınız. En güncel etkinlik bilgilerine ulaşmak için takipte kalın!</p>
            <p>Bu platform, sizin için özel olarak seçilmiş etkinlikleri bulmanıza, katılmanıza ve paylaşmanıza olanak tanır.</p>
        </div>
        <div class="col-md-6">
            <img src="https://placekitten.com/400/300" class="img-fluid rounded" alt="Hoşgeldiniz Resmi">
        </div>
    </div>
</div>
